# Database
DB_HOST=db
DB_PORT=5432
DB_USERNAME=vaultshare
DB_PASSWORD=password
DB_NAME=vaultshare_development

# Redis / Sidekiq
REDIS_URL=redis://redis:6379/0

# Rails
SECRET_KEY_BASE=replace_with_output_of_rails_secret
